@model AppBiblioteca2021.Models.Devoluciones

@{
    ViewBag.Title = "Details";
}

<h2>Información</h2>

<div>
    <h4>Devolución</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Socios.SociosNombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Socios.SociosNombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevolucionesFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevolucionesFecha)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-outline-secondary" href="~/Prestamos/index"> Regresar</a>
</p>
