@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash-1536x901.jpg)">
    <h1 style="color:white; text-shadow:black" class="text-md-left">Bienvenido</h1>
    <p class="lead text-left font-weight-bold font-italic" style="color:white; ">
        "La lectura debe ser una de las formas de la felicidad, y no se puede obligar a nadie a ser feliz"
        <br />
        <b>(Jorge Luis Borges)</b>
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div class="container">
    <div class="card-group mt-lg-1">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://i.pinimg.com/originals/e1/63/38/e16338e6e1b5091c26b77d4111e0f0e4.jpg" class="card-img-top" alt="Esta imagen no esta disponible">
                    <div class="card-body">
                        <h5 class="card-title">Victor Marie Hugo</h5>
                        <p class="card-text">
                            Fue un poeta, dramaturgo y novelista romántico francés, considerado como uno de los más importantes en lengua francesa.
                        </p>
                        <p><a class="btn btn-outline-dark" href="https://www.biografiasyvidas.com/biografia/h/hugo_victor.htm">Conoce más &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.diarioabierto.es/wp-content/uploads/2021/03/cervantes.jpg" class="card-img-top" alt="Esta imagen no esta disponible">
                    <div class="card-body">
                        <h5 class="card-title">Miguel de Cervantes</h5>
                        <p class="card-text">
                            Está considerado la máxima figura de la literatura española y es universalmente conocido por haber escrito
                            El ingenioso hidalgo don Quijote de la Mancha.
                        </p>
                        <p><a class="btn btn-outline-dark" href="https://www.biografiasyvidas.com/monografia/cervantes/">Conoce más &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.biografiasyvidas.com/biografia/w/fotos/whitman.jpg" class="card-img-top" alt="Esta imagen no esta disponible">
                    <div class="card-body">
                        <h5 class="card-title">Walt Whitman</h5>
                        <p class="card-text">
                            Fue un poeta, ensayista, periodista y humanista estadounidense. 
                            Su trabajo se inscribe en la transición entre el trascendentalismo y el realismo filosófico.
                        </p>
                        <p><a class="btn btn-outline-dark" href="https://www.biografiasyvidas.com/biografia/w/whitman.htm">Conoce más &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.biografiasyvidas.com/monografia/shakespeare/fotos/shakespeare_william.jpg" class="card-img-top" alt="Esta imagen no esta disponible">
                    <div class="card-body">
                        <h5 class="card-title"> William Shakespeare</h5>
                        <p class="card-text">
                            Fue un dramaturgo, poeta y actor inglés.
                            Es considerado el escritor más importante en lengua inglesa y uno de los más célebres de la literatura universal.
                        </p>
                        <p><a class="btn btn-outline-dark" href="https://www.biografiasyvidas.com/monografia/shakespeare/">Conoce más &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>